.ssh/ filter=git-crypt diff=git-crypt
.ssh/** filter=git-crypt diff=git-crypt
.gnupg/ filter=git-crypt diff=git-crypt
.gnupg/** filter=git-crypt diff=git-crypt
.config/casualOnTheSpot/config.json filter=git-crypt diff=git-crypt
.thunderbird/ filter=git-crypt diff=git-crypt
.thunderbird/** filter=git-crypt diff=git-crypt
.config/rescrobbled/ filter=git-crypt diff=git-crypt
.config/rescrobbled/** filter=git-crypt diff=git-crypt
.config/vesktop/settings/settings.json filter=git-crypt diff=git-crypt
